{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/aliases.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/details.js') }}"></script>


{% endblock %}
{% block content %}



 <div class="container-fluid">

    <div class="col-md-4"><h2><em class="fas fa-users-cog"></em>CREATE ALIASES</h2></div>


    <form id="alias_form">



    <div class="row">

         <div class="col-md-4"><p>Fees: <input required id="alias_fee" maxlength="35"
                        minlength="35" value="{{ (1000000000 + extra_fees)/100000000 }}">$TN </p></div>


        <div class="col-md-4 offset-md-4"><p>Alias: <input required id="alias_create_input" maxlength="40"
                                    minlength="4"  ></p></div>
       </div>




           <div class="col-md-4"><p><button id="create_alias_button" type="button">Create Alias
            </button></p></div>

    </form>


<br></br>




    <div class="col-9"><h3>Aliases linked to this account</h3></div>


    <div class="col-md-4"><button data-addr={{ address }} id="alias_load">Show Aliases</button></div>

    <div class="collapse" id="alias_collapse_div"></div>



<br></br>



    <div class="col-9"><h3>Find aliases from addresses</h3></div>

    <div class="col-md-4"><label for="alias_other">Address:</label><input required id="alias_other" maxlength="35"
                                                 minlength="35"/></div>


   <div class="col-md-4"><button id="alias_load_other">Find Aliases</button></div>

        <div class="collapse" id="alias_other_collapse_div"></div>

</div>


</div>



{% endblock %}

