{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/aliases.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/details.js') }}"></script>

{% endblock %}
{% block content %}

 <div class="container-fluid">

    <div class="col-md-4"><h2><em class="fas fa-users-cog"></em>ISSUE ASSET</h2></div>

    <form id="alias_form">
    <div class="row">

        
        
    
        
        <div class="col-7 col-md-4"><input required id="send_name_tn" maxlength="35" minlength="4" class="form-control" placeholder="NAME"></div>
        <div class="col-7 col-md-4"><input required id="send_description_tn" maxlength="35" minlength="35" class="form-control" placeholder="DESCRIPTION"></div>
        <div class="col-7 col-md-4"> <input type="number" class="form-control" placeholder="DECIMAL" required id="send_decimals_tn" type="number" ></div>
        <div class="col-7 col-md-4"> <input type="number" class="form-control" placeholder="QUANTITY" required id="send_quantity_tn" type="number" ></div>




        
       </div>

           <p>
           <font size="3" face="Times">
           fee: 1 WIND
           </font>
           </p>

           <div class="col-md-4"><p><button id="issue_tn" type="button">ISSUE ASSET</button></p></div>

    </form>


<br></br>


</div>


</div>



{% endblock %}


