<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} TN-Client {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/enable-popovers.js') }}"></script>

    <!-- Our Custom CSS -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/css/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>


    {% block head %}{% endblock %}
</head>
<body>

<!--
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="#">Turtle Network</a>
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/gateway/overview">Gateways</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lease/overview">Leasing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
-->

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>TURTLE NETWORK</h3>
            <strong>TN</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
            <li>
                <a href="/">
                    <em class="fas fa-wallet"></em>
                    Wallet
                </a>
            </li>
            <li>
                <a href="/portfolio">
                    <em class="fas fa-money-check-alt"></em>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="/gateway/overview">
                    <em class="fas fa-expand-arrows-alt"></em>
                    Gateways
                </a>
            </li>
            <li>
                <a href="/lease/overview">
                    <em class="fas fa-chart-pie"></em>
                    Leasing
                </a>
            </li>
            <li>
                <a href="/dex">
                    <em class="fas fa-chart-line"></em>
                    Dex
                </a>
            </li>
            <li>
                <a href="/data">
                    <em class="fas fa-code"></em>
                    Data
                </a>
            </li>
            <li>
                <a href="/asset/create">
                    <em class="fas fa-code-branch"></em>
                    Create Asset
                </a>
            </li>
            <li>
                <a href="/alias">
                    <em class="fas fa-code-branch"></em>
                    Aliasses
                </a>
            </li>
            <li>
                <a href="/logout">
                    <em class="fas fa-question"></em>
                    logout
                </a>
            </li>
            <li>
                <a href="#">
                    <em class="fas fa-paper-plane"></em>
                    Contact
                </a>
            </li>
            </li>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Download or link?</a>
                </li>
                <li>
                    <a href="#" class="download">Download or link?</a>
                </li>
            </ul>
        </ul>
       
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>


                <div>

                    <a href="https://t.me/TurtleNetwork" target="_blank"><img alt="crypto TN TurtleNetwork"
                                                                              class="socialmedia"
                                                                              src="{{ url_for('static', filename='img/telegram_icon.png') }}"/></a>

                    <a href="https://twitter.com/TurtleNetworkTN" target="_blank"><img alt="crypto TN TurtleNetwork"
                                                                                       class="socialmedia"
                                                                                       src="{{ url_for('static', filename='img/twitter_icon.png') }}"/></a>

                    <a href="https://www.facebook.com/TurtleNetworkTN/" target="_blank"><img
                            alt="crypto TN TurtleNetwork" class="socialmedia"
                            src="{{ url_for('static', filename='img/facebook_icon.png') }}"/></a>

                    <a href="https://www.youtube.com/channel/UCzbSukzGRKxpNov6yp4275w" target="_blank"><img
                            alt="crypto TN TurtleNetwork"
                            class="socialmedia" src="{{ url_for('static', filename='img/youtube_icon.png') }}"/></a>

                    <a href="https://www.instagram.com/turtlenetworktn/" target="_blank"><img
                            alt="crypto TN TurtleNetwork" class="socialmedia"
                            src="{{ url_for('static', filename='img/instagram_icon.png') }}"/></a>

                    <a href="https://www.reddit.com/r/TurtleNetwork/" target="_blank"><img alt="crypto TN TurtleNetwork"
                                                                                           class="socialmedia"
                                                                                           src="{{ url_for('static', filename='img/reddit_icon.png') }}"/></a>

                    <a href="https://github.com/BlackTurtle123/TurtleNetwork" target="_blank"><img
                            alt="crypto TN TurtleNetwork" class="socialmedia"
                            src="{{ url_for('static', filename='img/github_icon.png') }}"/></a>

                    <a href="https://github.com/BlackTurtle123/TurtleNetwork/wiki" target="_blank"><img
                            alt="crypto TN TurtleNetwork"
                            class="socialmedia" src="{{ url_for('static', filename='img/git-wiki_icon.png') }}"/></a>

                    <a href="https://bitcointalk.org/index.php?topic=5138663" target="_blank"><img
                            alt="crypto TN TurtleNetwork" class="socialmedia"
                            src="{{ url_for('static', filename='img/bitcointalk_icon.png') }}"/></a>

                    <a href="https://www.linkedin.com/company/blackturtle-bvba" target="_blank"><img
                            alt="crypto TN TurtleNetwork" class="socialmedia"
                            src="{{ url_for('static', filename='img/in_icon.png') }}"/></a>

                </div>


                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="darkSwitch">
                    <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                </div>

            </div>
        </nav>


        {% block content %}{% endblock %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal-vert-center-demo" tabindex="-1" role="dialog"
     aria-labelledby="Modal-vert-center-demo-label" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="Modal-vert-center-demo-label">-----</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div id="Modal-body" class="modal-body">


            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>


            </div>

        </div>

    </div>

</div>


</body>
{% block script %}

    <!-- You must load 'dark-mode-switch.js' after the dark-mode switch -->
    <script src="static/js/dark-mode-switch.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

{% endblock %}
</html>
