{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}


<div class="container-fluid">

         <div class="col-9"><span><h1 style="text-align:center"><em class="fas fa-chart-line"></em>DECENTRALIZED EXCHANGE </h1></span></div>

<div class="col-9">

<button type="button" class="btn btn-primary">TN-BTC</button>
<button type="button" class="btn btn-secondary">TN-LTC</button>
<button type="button" class="btn btn-success">TN-WAVES</button>
<button type="button" class="btn btn-danger">TN-ETH</button>
<button type="button" class="btn btn-warning">TN-BCH</button>
<button type="button" class="btn btn-info">TN-SYS</button>
<button type="button" class="btn btn-light">TN-WGR</button>
<button type="button" class="btn btn-dark">TN-FRIGOS</button>

</div>
</div>


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_8aa83"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/COINBASE-BTCUSD/"  rel="noopener noreferrer" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "COINBASE:BTCUSD",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_8aa83"
}
  );
  </script>
</div>

{% endblock %}

