{% extends 'base.html' %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/gateway_addr_generation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/details.js') }}"></script>
    
{% endblock %}
{% block content %}
    <form id="tn_gateway_form">
        <div>
            <p>Gateway: $TN</p>
            <p>Tx fees: <input required id="tn_fee" maxlength="35"
                               minlength="35" value="{{ (2000000 + extra_fees)/100000000 }}"> $TN
            </p>
            <p>Gateway fees: 0.09 $TN</p>
            <h2>To Send $TN to Turtle Network, using Waves Network wallet:</h2>
            <p>Send amount bigger then 0.09 $TN to 3PJ33ZasLyhLaFuK4gHGTFSQbpFBP5Entor with
                attachment: {{ address }}</p>
            <h2>To Send $TN to Waves Network, using Turtle Network wallet:</h2>
            <p>Amount of $TN to send: <input required id="tn_amount" type="number" min="0.01">
            </p>
            <p>Waves Network destination addr: <input required id="tn_addr" maxlength="35"
                                                      minlength="35"></p>
            <p>
                <button class="gw_send" data-gwname="tn" data-fee=0.09 type="button">Send $TN</button>
            </p>
        </div>
    </form>
    {% for gw in gateways %}
        <div>
            <button data-gwname="{{ gw.name }}" class="gw_load">Details ${{ gw.name|upper }}</button>
            <form class="{{ gw.name }}_gateway_form">

                <div class="collapse" id="{{ gw.name }}_collapse_div">
                    <p>Gateway: ${{ gw.name|upper }}</p>
                    <p>Tx fees: <input required id="{{ gw.name }}_fee" maxlength="35"
                                       minlength="35" value="{{ (2000000 + extra_fees)/100000000 }}"> $TN
                    </p>
                    <p>Gateway fees: {{ gw.fee }} ${{ gw.name|upper }}</p>
                    <h2>To Send ${{ gw.name|upper }} to Turtle Network, using {{ gw.name|title }} Network Wallet :</h2>
                    <p id="{{ gw.name }}_personal_p">Send amount bigger then {{ gw.fee }} ${{ gw.name|upper }}
                        to {{ gw.personal_addr }}</p>
                    <h2>To Send ${{ gw.name|upper }} to {{ gw.name|title }} Network, using Turtle Network Wallet:</h2>
                    <p>Amount of ${{ gw.name|upper }} to send: <input required id="{{ gw.name }}_amount" type="number"
                                                                      min="0.01">
                    </p>
                    <p>{{ gw.name }} Network destination addr: <input required id="{{ gw.name }}_addr" maxlength="35"
                                                                      minlength="35"></p>
                    <p>
                        <button class="gw_send" data-gwname="{{ gw.name }}" data-fee={{ gw.fee }} type="button">Send
                            ${{ gw.name|upper }}</button>
                    </p>
                </div>
            </form>
        </div>
    {% endfor %}

{% endblock %}

