{% extends 'base.html' %}
{% block head %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/transactions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/details.js') }}"></script>

{% endblock %}
{% block content %}
   
<!--    ----------------------------------------------------------------------------------------------------------------------------> 

 
<div class="container-fluid">
 
 
 <div class="col-9"><span><h2 style="text-align:center"><em class="fas fa-wallet"></em>WALLET ADDRESS</h2></span>
<div class="badge badge-secondary"><span><h2>{{ address }}</span></h2></div>
</div>

<div class="row">
<div class="col-md-4"><span><h5>TRANSFER $TN</h5></span></div>

  <div class="col-md-4 offset-md-4"><span><h5>BALANCE: {{ balance }}</h5></span></div>

 </div>

 <form id="send_form">
  
    <div class="col-7 col-md-4">
      <input type="number" class="form-control" placeholder="Token Amount" required id="send_amount_tn" type="number" max="{{ balance }}">
    </div>
    <div class="col-7 col-md-4">
      <input required id="send_addr_tn" maxlength="35" minlength="35" class="form-control" placeholder="Destination Address">
    </div>
    

    <div class="row">

    <div class="col-7 col-md-4">
     <input required id="send_fee_tn" maxlength="35" minlength="35" value="{{ (2000000 )/100000000+ extra_fees }}" class="form-control" placeholder="Fees">
    </div>
    <div class="col-md-4 offset-md-4"><span><h5>EXTRA FEES: {{ extra_fees }}</h5></span>
      <button type="button" class="btn btn-sm btn-danger" data-toggle="popover" title="Extra Fees" data-content="When your account is scripted, extra fees will need to be paid. When this isn't scripted, nothing will be added."><h5>i</h5></button>
    </div>
  </div>

    <div class="row">
    <div class="col-7 col-md-4">
  <button id="send_tn" class="btn btn-outline-dark btn-lg" type="button">SEND$TN</button>
  </div>

  </div>
</form>      
    </div>
   




<br></br>

<!--    ----------------------------------------------------------------------------------------------------------------------------> 


<div class=container-fluid>

<div class="card border-light mb-3" style="max-width: 33rem">
  <div class="card-header"><img src="static/img/tabs-iconset-history.png" class="img-card" alt="Responsive image"></div>
  <div class="card-body">
    <h5 class="card-title">TRANSACTION HISTORY</h5>
    <button href="#" class="btn btn-outline-dark btn-lg" type="button" data-addr={{ address }} id="tx_load">Show tx history</button>
     <div class="collapse" id="tx_collapse_div"></div>
     <br></br>
     <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
  </div>
</div>
   


<div class="card border-light mb-3" style="max-width: 33rem;">
  <div class="card-header"><img src="static/img/tabs-iconset-leasing.png" class="img-card" alt="Responsive image"></div>
  <div class="card-body">
    <h5 class="card-title">ACTIVE LEASES</h5>
    <button href="#" class="btn btn-outline-dark btn-lg" type="button" data-addr={{ address }} id="lease_load">Show Active Leases</button>
     <div class="collapse" id="lease_collapse_div"></div>
     <br></br>
     <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
  </div>
</div>

</div>

<!--    ----------------------------------------------------------------------------------------------------------------------------> 

    
    
{% endblock %}
