{% extends 'base.html' %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/transactions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/details.js') }}"></script>

{% endblock %}
{% block content %}

    <h3>Lease $TN:</h3>
    <form id="lease_form"><h2>Lease:</h2>
        <p>Amount of $TN to lease: <input required id="lease_amount_tn" type="number"
                                         max="{{ balance }}">
        </p>
        <p>Destination addr: <input required id="lease_addr_tn" maxlength="35"
                                    minlength="35"></p>
        <p>
            <button id="lease_tn" type="button">Lease
                $TN
            </button>
        </p>
    </form>
    <h3>Active Leases</h3>
    <button data-addr={{ address }} id="lease_load">Show Active Leases</button>

    <div class="collapse" id="lease_collapse_div">

    </div>
{% endblock %}
