<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap/css/login.css') }}">
    <title>Python Wallet</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
{% block body %}
    {% if current_user.is_authenticated %}

        You're logged in already!

    {% else %}
        <div class="wrapper fadeInDown">
        
       <div> <img src="static/img/logo_Turtle2.png"  class="login_logo" style="max-width: 30%" alt="..."></div>
        
            <div id="formContent">
                <form action="/login" method="POST">
                
                    <input type="seed" name="seed" class="fadeIn first" placeholder="Seed" value="" style="width: 100%"><br><h2>OR</h2></br>
                    <input type="pk" name="pk" class="fadeIn first" placeholder="Private Key" value="" style="width: 100%">
                    <input type="submit" class="btn btn-primary  fadeIn third" value="Log in">
                </form>

                <div id="formFooter">
                    <a class="underlineHover" rel="noopener noreferrer" href="https://www.turtlenetwork.eu" target="_blank">Turtle Network</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
</html>
