{% extends 'base.html' %}
{% block content %}



<div class="container-fluid">

   
    <div class="col-md-4"><span><h1 style="text-align:center"><em class="fas fa-money-check-alt"></em>PORTFOLIO</h1></span></div>
</div>

    <table class="table table-hover table-light">
        <thead>
        <tr>
            <th scope="col">AssetId</th>
            <th scope="col">Name</th>
            <th scope="col">Balance</th>
            <th scope="col">Decimals</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for asset in portfolio %}
            <tr>
                <th scope="row">{{ asset['id'] }}</th>
                <td>{{ asset['name'] }}</td>
                <td>{{ asset['normalized'] }}</td>
                <td>{{ asset['decimals'] }}</td>
                <td>
                    <a href="/details/{{ asset['id'] }}" class="btn btn-info" role="button">Send-Details-More</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

