<!doctype html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="static/main.css"/>
    </head>
    <body>

        <h4>WIND RICH LIST </h4>
        <h4>Total Balance : {{ tb/100000000}}</h4>
        <h5>.................................................................. </h5>
       <table border = 0 WIDTH="30%" HEIGHT="5%"CELLPADDING="0" CELLSPACING="0">
         {% for i in range(n): %}
            <tr>
               <td> <small>{{ listen[i]}}</small></td>
               <td><small>{{ listea[i]}}</small></td>
               <td align=right><small>{{"%.8f" % (listeb[i]/100000000)}}</small></td>

            </tr>

         {% endfor %}
       </table>


    </body>

</html>


